:root {
  --color-bg: #e5f3fd;
  --color-text_off: #5b5b5b;
  --color-text_on: #131313;
  --color-primer: #053f5c;
  --color-sekunder: #f76c6c;
  --color-primer2: #429ebd;
}

@font-face {
  font-family: menkrep;
  src: url(font/Minecraft.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "menkrep";
}

body {
  background-color: var(--color-bg);
  color: var(--color-text_off);
}

p {
  letter-spacing: 0.2rem;
}

h1 {
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.4rem;
}

/* ------------------------------------------- navigation ----------------------------------------- */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background: #a6c6dd;
  padding: 0.5rem 2rem;
  color: var(--color-text_off);
  position: fixed;
  left: 4rem;
  right: 4rem;
  z-index: 10000;
  border: var(--color-text_off);
}

.navblock1 {
  height: 3.85rem;
  position: fixed;
  top: 0;
  left: 5rem;
  right: 5rem;
  background: #a6c6dd;
  z-index: 900;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: var(--color-text_off);
}

.navblock2 {
  height: 4rem;
  position: fixed;
  top: 0.5rem;
  left: 6rem;
  right: 6rem;
  background: #a6c6dd;
  z-index: 900;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav img {
  width: 50%;
  transform: translateY(0.5rem);
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding: 0 4rem;
  list-style: none;
}

.navbar li a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-text_off);
  display: inline-block;
}

.navbar li a:hover {
  transform: scale(1.1);
  color: var(--color-text_on);
}

/* ------------------------------------------- hero section ----------------------------------------- */

.hero {
  padding-top: 5rem;
  position: relative;
  z-index: 50;
}

.judul {
  padding: 3rem 6rem 2rem;
}
.hero img {
  width: 60%;
}

.isiHero {
  padding: 0 6rem;
  margin-right: 30rem;
}

.isiHero p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.button {
  position: relative;
  display: inline-block;
  padding: 1rem 0;
  cursor: pointer;
}

.button img {
  width: 6.5rem;
  height: auto;
  display: block;
}

.button:hover {
  transform: scale(1.1);
}

.btnText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------------------------------------------- klik klik section ----------------------------------------- */

.klikklik {
  margin-top: -33rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: right;
}

/* --------------------------- versi hidup ---------------------------*/

.intpHidup {
  position: relative;
  display: inline-block;
  text-align: right;
  padding-right: 5.5rem;
  margin-bottom: -8.5rem;
  z-index: 60;
}

.intpHidup #nyawa {
  padding: 0 2rem 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: flex-end;
}

.intpHidup #nyawa .hisi {
  display: inline-block;
  padding-top: 6.2rem;
  padding-bottom: 0.5rem;
  width: 3%;
}

.intpHidup #nyawa .hkosong {
  display: none;
  padding-top: 6.2rem;
  padding-bottom: 0.5rem;
  width: 3%;
}

.intpHidup #charIntpHidup {
  width: 25%;
  cursor: pointer;
}

/* --------------------------- versi mati ---------------------------*/

.intpMati {
  display: none;
  position: relative;
  text-align: right;
  padding-right: 5.5rem;
  margin-bottom: -8.5rem;
  z-index: 60;
}

.intpMati #divHantu {
  padding-right: 6rem;
}

.intpMati #hantu {
  opacity: 0;
}

.fadeSlide {
  animation: fadeSlideUp 0.6s ease-out forwards;
}

.intpMati #charIntpMati {
  width: 25%;
}

/* --------------------------- ini bumi ---------------------------*/

.bumi {
  z-index: 14;
}
.bumi img {
  width: 60%;
  transform: translateX(8rem);
}

/* --------------------------- templete shake ---------------------------*/

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s;
}

/* --------------------------- templete slide up ---------------------------*/

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --------------------------- serba serbi awan ---------------------------*/

.awan1 img {
  position: absolute;
  top: 7rem;
  width: 30%;
}

.awan2 img {
  position: absolute;
  top: 45rem;
  width: 30%;
}

.awan3 img {
  position: absolute;
  top: 70rem;
  width: 30%;
}

.awan4 img {
  position: absolute;
  top: 98rem;
  width: 30%;
}

/* --------------------------- INTP kinton ---------------------------*/

.kinton {
  height: 40rem;
  overflow: hidden;
  position: relative;
  padding-top: 25rem;
}
#bagas {
  position: absolute;
  top: auto;
  left: 0;
  width: 20%;
}

/* ------------------------------------------- gameZone section ----------------------------------------- */

.gameZone {
  display: flex;
  flex-direction: column;
  position: relative;
}

.gameZone .container {
  text-align: center;
  background-image: url("images/konsol.png");
  background-position: center;
  background-size: 91%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.konsol {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  padding-top: 3rem;
}

.konsol img {
  width: 95%;
}

.layar img {
  width: 100%;
  padding: 8rem 0;
}

#next,
#back {
  padding: 20rem 0;
  width: 2%;
  cursor: pointer;
}

#next:hover,
#back:hover {
  transform: scale(1.2);
}

#btnStart {
  position: relative;
  bottom: 5rem;
  width: 45%;
  cursor: pointer;
}

#btnStart:hover {
  transform: scale(1.2);
}

/* ------------------------------------------- permukaan tanah ----------------------------------------- */

.permukaan {
  height: 50rem;
  background-image: url("images/tanah.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
  padding-top: 5rem;
}

.lebah {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.lebah img {
  padding-right: 5rem;
  width: 13.5%;
  transform: rotate(-15deg);
}

#lebah1 {
  display: inline-block;
}

#lebah1 {
  display: none;
}

/* ------------------------------------------- bawah tanah ----------------------------------------- */

.notes {
  position: relative;
  bottom: 10rem;
  background-color: #f8dcc4;
  height: 100rem;
}

.notes h1 {
  padding-top: 8rem;
}

.stample {
  background-image: url("images/KERTAS.png");
  background-position: center;
  background-size: 88%;
  background-repeat: no-repeat;
  height: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 10rem;
  padding-top: 27rem;
}

.stample img {
  position: relative;
  right: 3rem;
  padding: 3rem;
  width: 22%;
  cursor: pointer;
}

#stample:hover {
  transform: scale(1.2);
}
